.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1{
  font-size: 2.4em;
  margin: 3px 5px;
  font-style: italic;
}

p{ 
  margin: 0px;
  font-family: inherit;
}


.forms {
  display: grid;
  grid-template-columns: auto 13px 1fr 43px;
  align-items: center;
  justify-content: start;
  row-gap: 3px;
  margin-bottom: 10px;
}

.title, .role, .company, .date, .task, .major, .school, .graduation  {
  min-width: 65px;
  border:  2px solid transparent;
  font-weight: bold;
  outline: none;
  font-family: inherit;
}

.app input:hover, .app input:focus {
  border: 2px solid black;
}




.header-button {
  font-size: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  position: relative;
  border-radius: 50%;
  background-color: #213547;
  color: white;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.658);
  transition: transform 0.25s linear 0.1s;
}

button:hover, button:focus {
  transform: scale(1.2);

}


.delete-form{
  grid-row: 1/4;
  grid-column: -1;
  width: 42px;
  height: 42px;
  background-image: url('../assets/icons8-delete.png');
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-color: #BB2649;
  color: transparent;
  border: none;
  position: relative;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.658);
  transition: transform 0.25s linear 0.1s;
}





@media screen and (max-width:750px) {
  div#root {
    font-size: 0.7em;
  }

  div.app {
    padding-left: 20px;
    padding-right: 20px;
  }

  #root .app-name {
    top: 5px;
  }

  button.pdf-button {
    top: 170px;
    padding: 8px 18px;
  }

  .modal-container .close-modal {
    width: 34px;
    height: 34px;
  }
  .general-info-box {
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    column-gap: 38px;
    padding: 15px 10px;
  }
  .general-info-box img {
    width: 28px;
  }

  .general-info-box div {
    gap: 7px;
  }

  div.link img {
    width: 24px;
  }

  .header-button, .delete-form {
    width: 34px;
    height: 34px;
    background-size: 75%;
  }

  .experience-divider, .education-divider {
    height: 12px;
    width: 2px;
    margin: 0px 4px;
  }

  .job-tasks div {
    width: 5px;
    height: 5px;
    top: 14px;
    right: 9px;
  }
 
}

@media screen and (max-width:500px) {
  div#root {
    font-size: 0.60em;
  }

  .modal-container .close-modal {
    width: 30px;
    height: 30px;
  }

  button.pdf-button {
    top: 160px;
    padding: 8px 18px;
  }

  .general-info-box {
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    column-gap: 30px;
    padding: 15px 10px;
  }
  .general-info-box img {
    width: 24px;
  }

  .general-info-box div {
    gap: 3px;
  }
  div.link img {
    width: 20px;
  }
  
  .job-divider{
    margin: 0px 4px;
  }

  .header-button, .delete-form {
    width: 28px;
    height: 28px;
    background-size: 75%;
  }
  .experience-divider, .education-divider {
    height: 12px;
    width: 2px;
    margin: 0px 4px;
  }

  .job-tasks div {
    width: 4px;
    height: 4px;
    top: 12px;
    right: 8px;
  }
}