#root {
  max-width: 1000px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 90%;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0px auto;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1{
  font-size: 2.4em;
  margin: 15px 0px;
}

p{ 
  margin: 0px;
  font-family: inherit;
}
.header button {
  font-size: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}


.forms {
  display: grid;
  grid-template-columns: auto 13px 1fr 43px;
  align-items: center;
  justify-content: start;
  margin-bottom: 20px;
}

.title, .role, .company, .date, .task, .major, .school, .graduation  {
  min-width: 65px;
  border:  2px solid transparent;
  font-weight: bold;
  outline: none;
  font-family: inherit;
}

.forms input:hover, .forms input:focus {
  border: 2px solid black;
}




.header-button {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #303D50;
  color: white;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.658);
  transition: transform 0.25s linear 0.1s;
}

button:hover, button:focus {
  transform: scale(1.2);

}


.delete-form{
  grid-row: 2;
  grid-column: -1;
  width: 42px;
  height: 42px;
  background-image: url('../assets/icons8-delete.png');
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-color: #b82929;
  color: transparent;
  border: none;
  position: relative;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.658);
  transition: transform 0.25s linear 0.1s;
}



