.education-container {
    padding: 20px 55px;
    margin-bottom: 25px;
}

.degree-select {
    appearance: none;
    font-family: inherit;
    grid-column: 1 / -1;
    background-color: transparent;
    color: #213547;
    font-size: 1.9em;
    width: fit-content;
    border: 1px solid transparent;
    font-weight: bold;
    padding: 0px 5px;
}

.degree-select:focus, .degree-select:hover {
    appearance: auto;
    border: 1px solid black;
}

.degree-select option {
    background-color:  #213547;
    color: white;
    font-family: inherit;
    border-radius: 10px;
}

.major{
    grid-column: 1 / -1;
    font-size: 1.5em;
    margin-left: 3px;
    color: inherit;
    font-family: inherit;
}

.school, .graduation {
    grid-row: 3;
    margin-left: 4px;
    font-size: 1em;
    color: #67acc7;
    font-family: inherit;
}


.education-divider{
    height: 18px;
    width: 3px;
    margin: 0px 5px;
    background-color: #213547;
    position: relative;
    grid-row: 3;
    grid-column: 2;
}

