.experience-container {
    margin-top: 20px;
    padding: 20px 55px;
}

.title {
    appearance: none;
    grid-column: 1 / -1;
    background-color: transparent;
    color: #213547;
    font-size: 1.9em;
    width: fit-content;
    border: 1px solid transparent;
    font-weight: bold;
    padding: 3px 8px;
}

.company:focus, .company:hover {
    appearance: auto;
    border: 1px solid black;
}


.role{
    grid-column: 1 / -1;
    font-size: 1.5em;
    margin-left: 3px;
    color: inherit;
}

.company, .date {
    grid-row: 3;
    margin-left: 4px;
    font-size: 1em;
    color: #4C9599;   
}

.graduation {
    margin-left: 8px;
}

.job-tasks{
    grid-column: -1 / 1;
    color: inherit;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    margin: 5px 0px 0px 0px;
}

.job-tasks input {
    color: inherit;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 6px;
}

.job-tasks div {
    width: 7px;
    height: 7px;
    display: block;
    position: relative;
    top: 17px;
    right: 10px;
    border-radius: 15px;
    background-color: black;
}

.experience-divider{
    height: 18px;
    width: 3px;
    background-color: #213547;
    position: relative;
    grid-row: 3;
    grid-column: 2;
}




