.general {
    display: flex;
    flex-direction: column; 
    padding: 20px 40px;
    gap: 10px;
}

.name, .position, .email, .phone, .address, .link {
    color: inherit;
    font-weight: bold;
    font-family: inherit;
    margin: 0px;
    padding: 3px;
    border: 2px solid transparent;
    border-radius: 5px;
    outline: none;
}

.general input:focus, .general input:hover {
    border: 2px solid black;
}

.name {
    font-size: 2.5em;
    margin-left: 25px;
    margin-top: 7px;
    margin-bottom: -10px;
}

.position {
    margin-left: 25px;
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #4C9599;
}


.general-info-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
    column-gap: min(150px, 100%);
    background-color: #303D50;
    padding: 15px 30px;
  }



.general-info-box div {

    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

div.link img {
    width: 28px;
    margin-right: 4px;
}

.general-info-box input {
    font-size: 1.1em;
    background-color: transparent;
    color: white;
    text-decoration: none;
}

.general-info-box img {
    width: 32px;
}
  
 
  

