
.name, .position, .email, .phone, .address, .link {
    color: inherit;
    font-weight: bold;
    font-family: inherit;
    margin: 0px;
    padding: 3px;
    border: 2px solid transparent;
    border-radius: 5px;
    outline: none;
}

.general input:focus, .general input:hover {
    border: 2px solid black;
}

.name {
    font-size: 2.5em;
    margin-bottom: -10px;
    padding: 0px 3px;
}

.position {
    font-size: 1.5em;
    margin-bottom: 8px;
    padding: 0px 3px;

    color: #67acc7;
}


.general-info-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    column-gap: min(100px, 100%);
    background-color: #213547;
    padding: 10px 30px;
    margin-bottom: 5px;
  }



.general-info-box div {

    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

div.link img {
    width: 28px;
    margin-right: 4px;
}

.general-info-box input {
    font-size: 1.1em;
    background-color: transparent;
    color: white;
    text-decoration: none;
}

.general-info-box img {
    width: 32px;
}
  
 
  

