h1.app-name {
    font-size: 3.5em;
    position: absolute;
    left: 50%;
    top: 0.75%;
    background: linear-gradient(#ffffff 40%, #002d55 100% );
    -webkit-background-clip: text;
    color: transparent;
    transform: translateX(-50%);
}

