:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #303D50;
  background-color: #213547;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  overflow: hidden;
  font-size: 0.95em;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  height: 100%;
  gap: 17px;
  flex-direction: column;
}

body {
  margin: 1px;
  padding: 0px;
}


.app {
  width: min(850px, 88%);
  padding: 30px 45px;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  background-color: white;
  gap: 10px;
}


.pdf-button {
  width: 82%;
  max-width: 780px;
  border-radius: 10px;
  border: 2px solid black;
  top: 200px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.548);
  transform: scale(1.1);
  transition: transform 0.25s linear 0.1s;
  padding: 8px 22px;
  font-size: 1.3em;
  font-weight: bold;
}

