:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #303D50;
  background-color: #213547;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.pdf-button {
  position: absolute;
  left: 75%;
  border-radius: 10px;
  border: 2px solid black;
  top: 150px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.548);
  transform: scale(1.1);
  transition: transform 0.25s linear 0.1s;
  padding: 8px 22px;
  font-size: 1.3em;
  font-weight: bold;
}

